---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflare-tunnel
spec:
  endpoints:
    - dnsName: "external.plygrnd.org"
      recordType: CNAME
      targets: ["f3126e53-49a4-44e5-ba01-edd193fc2ddb.cfargotunnel.com"]
